extends layout

block the_body
    body.user-select

block the_content
    section.container
        .content-wrap
            .content
                .title
                    h3(style='line-height: 1.3') MZ-NetBlog主题
                article.excerpt.excerpt-1
                    a.focus(href='http://www.muzhuangnet.com/show/269.html', title='用DTcms做一个独立博客网站（响应式模板）', target='_blank')
                        img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: inline;')
                    header
                        a.cat(href='http://www.muzhuangnet.com/list/mznetblog/', title='MZ-NetBlog主题')
                            | MZ-NetBlog主题
                            i
                        h2
                            a(href='http://www.muzhuangnet.com/show/269.html', title='用DTcms做一个独立博客网站（响应式模板）', target='_blank') 用DTcms做一个独立博客网站（响应式模板）
                    p.meta
                        time.time
                            i.glyphicon.glyphicon-time
                            |  2016-10-14
                        span.views
                            i.glyphicon.glyphicon-eye-open
                            |  217
                        a.comment(href='http://www.muzhuangnet.com/show/269.html#comment', title='评论', target='_blank')
                            i.glyphicon.glyphicon-comment
                            |  4
                    p.note
                        | 用DTcms做一个独立博客网站（响应式模板），采用DTcms V4.0正式版（MSSQL）。开发环境：SQL2008R2+VS2010。DTcms V4.0正式版功能修复和优化：1、favicon.ico图标后台上传。（解决要换图标时要连FTP或者开服务器的麻烦）
                article.excerpt.excerpt-2
                    a.focus(href='http://www.muzhuangnet.com/show/269.html', title='用DTcms做一个独立博客网站（响应式模板）', target='_blank')
                        img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: inline;')
                    header
                        a.cat(href='http://www.muzhuangnet.com/list/mznetblog/', title='MZ-NetBlog主题')
                            | MZ-NetBlog主题
                            i
                        h2
                            a(href='http://www.muzhuangnet.com/show/269.html', title='用DTcms做一个独立博客网站（响应式模板）', target='_blank') 用DTcms做一个独立博客网站（响应式模板）
                    p.meta
                        time.time
                            i.glyphicon.glyphicon-time
                            |  2016-10-14
                        span.views
                            i.glyphicon.glyphicon-eye-open
                            |  217
                        a.comment(href='http://www.muzhuangnet.com/show/269.html#comment', title='评论', target='_blank')
                            i.glyphicon.glyphicon-comment
                            |  4
                    p.note
                        | 用DTcms做一个独立博客网站（响应式模板），采用DTcms V4.0正式版（MSSQL）。开发环境：SQL2008R2+VS2010。DTcms V4.0正式版功能修复和优化：1、favicon.ico图标后台上传。（解决要换图标时要连FTP或者开服务器的麻烦）
                article.excerpt.excerpt-3
                    a.focus(href='http://www.muzhuangnet.com/show/269.html', title='用DTcms做一个独立博客网站（响应式模板）', target='_blank')
                        img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: inline;')
                    header
                        a.cat(href='http://www.muzhuangnet.com/list/mznetblog/', title='MZ-NetBlog主题')
                            | MZ-NetBlog主题
                            i
                        h2
                            a(href='http://www.muzhuangnet.com/show/269.html', title='用DTcms做一个独立博客网站（响应式模板）', target='_blank') 用DTcms做一个独立博客网站（响应式模板）
                    p.meta
                        time.time
                            i.glyphicon.glyphicon-time
                            |  2016-10-14
                        span.views
                            i.glyphicon.glyphicon-eye-open
                            |  217
                        a.comment(href='http://www.muzhuangnet.com/show/269.html#comment', title='评论', target='_blank')
                            i.glyphicon.glyphicon-comment
                            |  4
                    p.note
                        | 用DTcms做一个独立博客网站（响应式模板），采用DTcms V4.0正式版（MSSQL）。开发环境：SQL2008R2+VS2010。DTcms V4.0正式版功能修复和优化：1、favicon.ico图标后台上传。（解决要换图标时要连FTP或者开服务器的麻烦）
                article.excerpt.excerpt-4
                    a.focus(href='http://www.muzhuangnet.com/show/269.html', title='用DTcms做一个独立博客网站（响应式模板）', target='_blank')
                        img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: inline;')
                    header
                        a.cat(href='http://www.muzhuangnet.com/list/mznetblog/', title='MZ-NetBlog主题')
                            | MZ-NetBlog主题
                            i
                        h2
                            a(href='http://www.muzhuangnet.com/show/269.html', title='用DTcms做一个独立博客网站（响应式模板）', target='_blank') 用DTcms做一个独立博客网站（响应式模板）
                    p.meta
                        time.time
                            i.glyphicon.glyphicon-time
                            |  2016-10-14
                        span.views
                            i.glyphicon.glyphicon-eye-open
                            |  217
                        a.comment(href='http://www.muzhuangnet.com/show/269.html#comment', title='评论', target='_blank')
                            i.glyphicon.glyphicon-comment
                            |  4
                    p.note
                        | 用DTcms做一个独立博客网站（响应式模板），采用DTcms V4.0正式版（MSSQL）。开发环境：SQL2008R2+VS2010。DTcms V4.0正式版功能修复和优化：1、favicon.ico图标后台上传。（解决要换图标时要连FTP或者开服务器的麻烦）
                article.excerpt.excerpt-5
                    a.focus(href='http://www.muzhuangnet.com/show/269.html', title='用DTcms做一个独立博客网站（响应式模板）', target='_blank')
                        img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: inline;')
                    header
                        a.cat(href='http://www.muzhuangnet.com/list/mznetblog/', title='MZ-NetBlog主题')
                            | MZ-NetBlog主题
                            i
                        h2
                            a(href='http://www.muzhuangnet.com/show/269.html', title='用DTcms做一个独立博客网站（响应式模板）', target='_blank') 用DTcms做一个独立博客网站（响应式模板）
                    p.meta
                        time.time
                            i.glyphicon.glyphicon-time
                            |  2016-10-14
                        span.views
                            i.glyphicon.glyphicon-eye-open
                            |  217
                        a.comment(href='http://www.muzhuangnet.com/show/269.html#comment', title='评论', target='_blank')
                            i.glyphicon.glyphicon-comment
                            |  4
                    p.note
                        | 用DTcms做一个独立博客网站（响应式模板），采用DTcms V4.0正式版（MSSQL）。开发环境：SQL2008R2+VS2010。DTcms V4.0正式版功能修复和优化：1、favicon.ico图标后台上传。（解决要换图标时要连FTP或者开服务器的麻烦）
                nav.pagination(style='display: none;')
                    ul
                        li.prev-page
                        li.active
                            span 1
                        li
                            a(href='?page=2') 2
                        li.next-page
                            a(href='?page=2') 下一页
                        li
                            span 共 2 页
        aside.sidebar
            .fixed
                .widget.widget_search
                    form.navbar-form(action='/Search', method='post')
                        .input-group
                            input.form-control(type='text', name='keyword', size='35', placeholder='请输入关键字', maxlength='15', autocomplete='off')
                            span.input-group-btn
                                button.btn.btn-default.btn-search(name='search', type='submit') 搜索
                .widget.widget_sentence
                    h3 标签云
                    .widget-sentence-content
                        ul.plinks.ptags
                            li
                                a(href='http://www.muzhuangnet.com/tags/list/67/', title='移动统计', draggable='false')
                                    | 移动统计
                                    span.badge 1
                            li
                                a(href='http://www.muzhuangnet.com/tags/list/256/', title='404', draggable='false')
                                    | 404
                                    span.badge 1
                            li
                                a(href='http://www.muzhuangnet.com/tags/list/252/', title='VS2010', draggable='false')
                                    | VS2010
                                    span.badge 1
                            li
                                a(href='http://www.muzhuangnet.com/tags/list/162/', title='杀毒软件', draggable='false')
                                    | 杀毒软件
                                    span.badge 1
                            li
                                a(href='http://www.muzhuangnet.com/tags/list/133/', title='html标签', draggable='false')
                                    | html标签
                                    span.badge 1
                            li
                                a(href='http://www.muzhuangnet.com/tags/list/49/', title='循环', draggable='false')
                                    | 循环
                                    span.badge 2
                            li
                                a(href='http://www.muzhuangnet.com/tags/list/22/', title='百度统计', draggable='false')
                                    | 百度统计
                                    span.badge 2
                            li
                                a(href='http://www.muzhuangnet.com/tags/list/132/', title='sql', draggable='false')
                                    | sql
                                    span.badge 6
            .widget.widget_hot
                h3 最新评论文章
                ul
                    li
                        a(title='用DTcms做一个独立博客网站（响应式模板）', href='http://www.muzhuangnet.com/show/269.html')
                            span.thumbnail
                                img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: block;')
                            span.text 用DTcms做一个独立博客网站（响应式模板）
                            span.muted
                                i.glyphicon.glyphicon-time
                                |     2016-11-01
                            span.muted
                                i.glyphicon.glyphicon-eye-open
                                | 88
                    li
                        a(title='用DTcms做一个独立博客网站（响应式模板）', href='http://www.muzhuangnet.com/show/269.html')
                            span.thumbnail
                                img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: block;')
                            span.text 用DTcms做一个独立博客网站（响应式模板）
                            span.muted
                                i.glyphicon.glyphicon-time
                                |     2016-11-01
                            span.muted
                                i.glyphicon.glyphicon-eye-open
                                | 88
                    li
                        a(title='用DTcms做一个独立博客网站（响应式模板）', href='http://www.muzhuangnet.com/show/269.html')
                            span.thumbnail
                                img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: block;')
                            span.text 用DTcms做一个独立博客网站（响应式模板）
                            span.muted
                                i.glyphicon.glyphicon-time
                                |     2016-11-01
                            span.muted
                                i.glyphicon.glyphicon-eye-open
                                | 88
                    li
                        a(title='用DTcms做一个独立博客网站（响应式模板）', href='http://www.muzhuangnet.com/show/269.html')
                            span.thumbnail
                                img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: block;')
                            span.text 用DTcms做一个独立博客网站（响应式模板）
                            span.muted
                                i.glyphicon.glyphicon-time
                                |     2016-11-01
                            span.muted
                                i.glyphicon.glyphicon-eye-open
                                | 88
                    li
                        a(title='用DTcms做一个独立博客网站（响应式模板）', href='http://www.muzhuangnet.com/show/269.html')
                            span.thumbnail
                                img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: block;')
                            span.text 用DTcms做一个独立博客网站（响应式模板）
                            span.muted
                                i.glyphicon.glyphicon-time
                                |     2016-11-01
                            span.muted
                                i.glyphicon.glyphicon-eye-open
                                | 88
                    li
                        a(title='用DTcms做一个独立博客网站（响应式模板）', href='http://www.muzhuangnet.com/show/269.html')
                            span.thumbnail
                                img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: block;')
                            span.text 用DTcms做一个独立博客网站（响应式模板）
                            span.muted
                                i.glyphicon.glyphicon-time
                                |     2016-11-01
                            span.muted
                                i.glyphicon.glyphicon-eye-open
                                | 88
                    li
                        a(title='用DTcms做一个独立博客网站（响应式模板）', href='http://www.muzhuangnet.com/show/269.html')
                            span.thumbnail
                                img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: block;')
                            span.text 用DTcms做一个独立博客网站（响应式模板）
                            span.muted
                                i.glyphicon.glyphicon-time
                                |     2016-11-01
                            span.muted
                                i.glyphicon.glyphicon-eye-open
                                | 88
                    li
                        a(title='用DTcms做一个独立博客网站（响应式模板）', href='http://www.muzhuangnet.com/show/269.html')
                            span.thumbnail
                                img.thumb(data-original='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', src='http://www.muzhuangnet.com/upload/201610/18/201610181739277776.jpg', alt='用DTcms做一个独立博客网站（响应式模板）', style='display: block;')
                            span.text 用DTcms做一个独立博客网站（响应式模板）
                            span.muted
                                i.glyphicon.glyphicon-time
                                |     2016-11-01
                            span.muted
                                i.glyphicon.glyphicon-eye-open
                                | 88
            .widget.widget_sentence
                a(href='http://www.muzhuangnet.com/show/269.html', target='_blank', rel='nofollow', title='MZ-NetBlog主题')
                    img(style='width: 100%', src='images/ad.jpg', alt='MZ-NetBlog主题')
            .widget.widget_sentence
                a(href='http://web.muzhuangnet.com/', target='_blank', rel='nofollow', title='专业网站建设')
                    img(style='width: 100%', src='http://www.muzhuangnet.com/upload/201610/24/201610241224221511.jpg', alt='专业网站建设')
